<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <DotBase.Properties.Settings>
            <setting name="DataBaseLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wykonal" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sprawdzil" serializeAs="String">
                <value/>
            </setting>
            <setting name="Przyjal" serializeAs="String">
                <value/>
            </setting>
            <setting name="PlikBazy" serializeAs="String">
                <value/>
            </setting>
            <setting name="OstatniUzytkownik" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastLogsDecryptDirectory" serializeAs="String">
                <value/>
            </setting>
        </DotBase.Properties.Settings>
    </userSettings>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>

	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
