<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DotBase.Properties.Settings.db3ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Ziemek\Ziemek\db3.mdb;Jet OLEDB:Database Password=npp126p"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <DotBase.Properties.Settings>
            <setting name="DataBaseLocation" serializeAs="String">
                <value />
            </setting>
        </DotBase.Properties.Settings>
    </userSettings>
</configuration>