/dotbase/obj/
/dotbase/.vs
/dotbase/bin/Debug/
/dotbase/bin/Release/
/dotbase/bin/wyniki/**/*.html
/dotbase/bin/wyniki/**/*.xml
/dotbase/bin/wyniki/**/*.docx
/dotbase/bin/wyniki/**/*.json
/dotbase/bin/wyniki/**/*.txt
/dotbase/bin/Diagnostics/**
*.user
*.suo
/*.pdf
/*.doc
/dotbase/Resources/logTemplate.accdb
/dist/
/manual/**/*-converted-to.pdf
/manual/Instrukcja.*
!/manual/Instrukcja.tex
/manual/Wersja.tex
/temp/
/.vs

