/dotbase/obj/
/dotbase/bin/Debug/
/dotbase/bin/Release/
/dotbase/bin/wyniki/**/*.html
*.user
*.suo
/*.pdf
/*.doc
/dotbase/Resources/logTemplate.accdb
/dist/
/manual/**/*-converted-to.pdf
/manual/Instrukcja.*
!/manual/Instrukcja.tex
/manual/Wersja.tex
node_modules
