*{
font-family: "Times New Roman";
}

#strona {
position: absolute;
width: 179.92mm;
height: 266.98mm;
padding: 15.01mm 15.04mm;
}

#naglowek
{padding: 0;
font-size: 12pt;
font-weight: normal;
text-align: right;
width: 100.00%;
float: left;
line-height: 0.5cm;
}

#naglowek1
{padding: 0;
font-size: 12pt;
font-weight: normal;
text-align: left;
width: 100.00%;
float: left;
line-height: 0.5cm;
}

#naglowek2
{padding: 0;
font-weight: normal;
text-align: center;
width: 100.00%;
float: left;
line-height: 0.5cm;
}

#naglowek3
{padding: 0;
font-weight: bold;
text-align: left;
width: 100.00%;
float: left;
line-height: 0.5cm;
}

#numer
{
padding: 0;
font-size: 12pt;
font-weight: normal;
width: 100.00%;
float: left;
}

line-height: 0.5cm;
}

div
{
	margin-top: 50px;
}

.kolumna1
{float:left;
 width: 75%;
 padding: 0;
 font-size: 12pt;
 font-weight: normal;
}

.kolumna2
{float:right;
 width: 25%;
 padding: 0;
 font-size: 12pt;
 font-weight: normal;
}

.kolumna3
{
 float:left;
 width: 50%;
 padding: 0;
 font-size: 12pt;
}

.kolumna4
{
 float:right;
 width: 50%;
 padding: 0;
 font-size: 12pt;
}

.dane
{
font-size: 14pt;
font-weight: bold;
}