name: Build
on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      create_release:
        type: choice
        required: true
        description: Create release
        default: 'no'
        options:
        - 'no'
        - 'yes'
jobs:
  build-program:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3
      - name: Generate Release Package
        shell: cmd
        run: |
          GeneratePackage.bat
      - uses: actions/upload-artifact@v3
        with:
          name: _tmp
          path: |
            dist\*.7z
            dist\VERSION.txt
            dist\FN-VERSION.txt
          retention-days: 1
  build-latex:
    runs-on: ubuntu-latest
    needs: build-program
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        with:
          name: _tmp
          path: _tmp
      - uses: geekyeggo/delete-artifact@v1
        with:
          name: _tmp
      - name: Prepare directory structure
        run: mkdir -p dist
      - name: Unpack artifact
        working-directory: dist
        run: 7z x ../_tmp/*.7z
      - name: Copy version for Manual
        run: cp _tmp/VERSION.txt manual/Wersja.tex
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: manual
          root_file: Instrukcja.tex
      - name: Copy manual PDF
        run: cp manual/Instrukcja.pdf dist/
      - name: Compress package
        working-directory: dist
        run: |
          VERSION=`cat ../_tmp/FN-VERSION.txt`
          echo VERSION=$VERSION >> $GITHUB_ENV
          7z a DotBase-$VERSION.7z *
      - uses: actions/upload-artifact@v3
        with:
          name: DotBase-${{ env.VERSION }}
          path: dist/*.7z
          retention-days: 3
      - name: Release
        uses: softprops/action-gh-release@v1
        if: "${{ github.event.inputs.create_release == 'yes' }}"
        with:
          files: dist/*.7z
          draft: false
          tag_name: v-${{ env.VERSION }}
          fail_on_unmatched_files: true
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
